.card {
  min-height: 400px;
  padding: 40px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e3e3e3;
  max-width: 400px;
  @media only screen and (max-width: 400px) {
    max-width: 100vw;
  }
}

.name {
  font-weight: 300;
  font-size: x-large;
}

.description {
  font-size: medium;
  font-weight: 400;
}

.small-info {
  font-size: small;
  align-self: flex-start;
}

.top-section {
  min-height: 150px;
  border-bottom: 1px solid #858585;
}
